# docker image build
.dockerignore

# user defined files
.env
docker-compose.override.yml

# backup files
*.bak

# development artifacts
develop/output/
develop/texlive-build.log
compiles/
output/
texlive-cache/
setup.sh
check-ready.sh
cookies.txt
